.logo-footer {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 24px;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-footer-accent {
  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-size: 24px;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
